:root {
    --text-color: #001524;
    --text-color-light: #404a52;
    --brand-primary: #15616d;
    --brand-secondary: #ff7d00;
    --background-color: #ffecd1;
    --white: #fff;
}

h1, h2, h3, h4 {
    font-family: "Kiwi Maru", serif;
}

body {
    font-family: "Open Sans", sans-serif;
}

#content {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.project {
    background-color: var(--background-color);
    padding: 8px;
}

.icon-button {
    border: none;
    background-color: transparent;
    color: var(--brand-primary);
}

.todo-title {
    display: flex;
}

.expandable {
    display: flex;
    flex-direction: column;
}

.label-value {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
}