:root {
    --text-color: #001524;
    --text-color-light: #404a52;
    --brand-primary: #15616d;
    --brand-secondary: #ff7d00;
    --background-color: #ffecd1;
    --white: #fff;
}

h1, h2, h3, h4 {
    font-family: "Kiwi Maru", serif;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--brand-primary);
}

#content {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.project {
    background-color: var(--background-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 10px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    justify-content: space-between;
}

.button-row {
    display: flex;
    gap: 8px;
}

.icon-button {
    border: none;
    background-color: transparent;
    color: var(--brand-primary);
}

.todo-title {
    display: flex;
    justify-content: space-between;
}

.expandable {
    display: flex;
    flex-direction: column;
}

.label-value {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
}

.new-button, #submitTodo, #submitProject {
    border: none;
    background-color: var(--brand-secondary);
    color: var(--white);
    width: 100%;
    height: 2rem;
    border-radius: 50px;
}

.new-todo-form {
    border: 2px solid var(--brand-primary);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formRow {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
}

#newProject {
    height: 300px;
    width: 300px;
    background-color: var(--background-color);
    margin: 150px auto;
}

#newProject > form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}